{% extends "tugas2/layout/base.html" %}
{% block content %}

<div>
    <h2>Hasil Search</h2>
    <div class="info" style="display:flex">
        <div>
            <table class="table">
		            <thead>
		            <th>No.</th>
		            <th> Nama</th>
		            <th> NPM</th>
		            <th> Angkatan</th>
		            <th> Keahlian </th>
		            </thead>
		           	<tbody>
	            {% for friend in friends %}
	            <tr>
	                <td> {{forloop.counter}} </td>
	                <td> {{ friend.name }}</td>
	                <td> {{ friend.npm }}</td>
	                <td> {{ friend.angkatan }}</td>
	                <td> {{ friend.expert }}</td>
	                <td> <a href="/mahasiswa/delete_status/{{ data.id }}">
	                        <div class="delete-button" data-id={{data.id}}}>x</div>
	                    </a>
	            </tr>
	            {% endfor %}
            </tbody>
            </thead>
        </div>
        
    </div>
</div>

{% endblock %}