<div class="panel panel-info">
    <div class="panel-heading">
        <h2> Daftar Teman : {{ friend_list | length}} </h2>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <th>No.</th>
            <th> Nama</th>
            <th> NPM</th>
            <th> Angkatan</th>
            <th> Keahlian </th>

            </thead>

            {% for friend in friend_list %}
            <tr>
                <td> {{forloop.counter}} </td>
                <td> {{ friend.name }}</td>
                <td> {{ friend.npm }}</td>
                <td> {{ friend.angkatan }}</td>
                <td> {{ friend.expert }}</td>
                <td> <a href="/mahasiswa/delete_status/{{ data.id }}">
                        <div class="delete-button" data-id={{data.id}}}>x</div>
                    </a>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>