{% extends "tugas2/layout/base.html" %}
{% block content %}

<div>
    <h1 style="margin-bottom:30px; text-align: center">Edit Profile</h1>
    <div class="info" align="center">
        <div id="fotoku">
        <img src="{{profile.link}}" width="15%" height="15%">
        </div>
        <table align="center" style="text-align: left">
            <tr><td class="subject" >NPM :</td><td class="value" > {{profile.npm}}</td></tr>
        </table>
        <div align="center" style="display:block">
            <a href="{% url 'mahasiswa:profile' %}" class="btn btn-lg btn-block btn-info">Save</button>
            <a href="{% url 'mahasiswa:auth_logout' %}" class="btn btn-lg btn-block btn-info" onclick="return confirm('Keluar?')">
            Logout </a>
    </div>
    <h1 align="left">Biodata</h1>
    <div class="linkin" align="left" id="biodata">
        <script type="in/Login"></script>
        <!-- <button class="btn btn-lg btn-block btn-info" >Connect with LinkedIn</button> -->
    </div> 

    <div class="exp" align="left" style="margin-top:50px;">
        <h2>Expertise</h2>
        <button class="btn btn-lg btn-block btn-info" >Add Expertise</button>
        <div class="skillChooserContainer" style="display:flex;">
                <div>
                  <h2>Skills</h2>
                  <select>
                    <option>Java</option>
                    <option>Python</option>
                    <option>Web Development</option>
                    <option>Leadership</option>
                  </select>
                </div>
                <div>
                  <h2>Level</h2>
                  <select>
                    <option>Beginner</option>
                    <option>Intermediate</option>
                    <option>Expert</option>
                  </select>
                </div>
              </div>
    </div>
</div>

<br><br>
 
<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key: 81952ijn70n1r2
    onLoad: onLinkedInLoad
    authorize: true
    lang:      
</script>

<script type="text/javascript">
    
    // Setup an event listener to make an API call once auth is complete
    function onLinkedInLoad() {
        IN.Event.on(IN, "auth", getProfileData);
    }

    // Handle the successful return from the API call
    function onSuccess(data) {
        updateProfile(data);
        console.log(data);
     $('#biodata').html(
           '<h3>' + 'Nama : ' + data.firstName + '</h3>' +
           '<h3>' + 'Email : ' + data.emailAddress + '</h3>' +
           '<h3>' + 'Profile LinkedIn : ' + data.publicProfileUrl + '</h3>' 
      );
      $('#fotoku').html(
        '<img width="200px" class="img-circle" src="' + data.pictureUrl + '" alt="profpic" />' 
      );
    }

    function updateProfile(data) {
        console.log("aaaa")
      $.ajax({
        method : 'POST',
        url : "{% url 'mahasiswa:update' %}",
        data : {
          'full_name' : data.firstName+" "+data.lastName,
          'url_linkedin': data.publicProfileUrl,
          'picture_url': data.pictureUrl,
          'email': data.emailAddress,
          'headline': data.headline,
        },
        dataType : 'json',
        success : function(response) {
          window.location = 'mahasiswa/profile';
        },
        error : function(error) {
          console.log(error);
        }
      });
    }

    // Handle an error response from the API call
    function onError(error) {
        console.log(error);
    }

    // Use the API call wrapper to request the member's basic profile data
    function getProfileData(data) {
        IN.API.Raw("/people/~:(first-name,last-name,headline,email-address,picture-url,public-profile-url)").result(onSuccess).error(onError);
    }

</script>

{% endblock %}
