{% extends "tugas2/layout/base.html" %}
{% block content %}

<div>
    <h2>Welcome,</h2>
    <h1 style="margin-bottom:30px">{{ profile.name }}</h1>
    <div class="info" style="display:flex">
        <img src="{{profile.link}}" width="15%" height="15%">
        <div class="tombol">
            <button class="btn btn-lg btn-block btn-info" >Lihat Forum</button>
            <a href="{% url 'mahasiswa:edit' %}" class="btn btn-lg btn-block btn-info" >Edit Profile</button>
            <a href="{% url 'mahasiswa:auth_logout' %}" class="btn btn-lg btn-block btn-info" onclick="return confirm('Keluar?')">
            Logout </a>
        </div>
        <div class="status">
            <h1> {{ jml_status }} </h1>
            <h2> Status </h2>
        </div>
    </div>
</div>

<br><br>

<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist" style="border-radius:100px;">
        <li role="presentation" class="active">
            <a class="tabs" href="#profile" aria-controls="home" role="tab" data-toggle="tab"> Profile </a>
        </li>
        <li role="presentation">
            <a class="tabs" href="#history" aria-controls="settings" role="tab" data-toggle="tab"> History </a>
        </li>
        <li role="presentation">
            <a class="tabs" href="#status" aria-controls="settings" role="tab" data-toggle="tab"> Status </a>
        </li>
        <li role="presentation">
            <a class="tabs" href="#friends" aria-controls="settings" role="tab" data-toggle="tab"> Friends </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="profile">
            {% include 'tugas2/tables/profile.html' %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="history">
            {% include 'tugas2/tables/history.html' %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="status">
            {% include 'tugas2/tables/status.html' %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="friends">
            {% include 'tugas2/tables/friends.html' %}
        </div>
    </div>

</div>
{% endblock %}
