<!-- templates/lab_5/partials/header.html -->
<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/mahasiswa/"><img style="max-width:150px; margin-top: -7px;" src="https://image.ibb.co/hy6J6G/lingin_01.png"></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav" style="float:right">
              <!-- LINK MENUJU table, dan link menuju home#form
              <li><a href="/tugas-update-status/">Status</a></li>
              <li><a href="/tugas-halaman-profile/">Profile</a> </li>
              <li><a href="/tugas-add-friend/">Friends</a> </li>
              <li><a href="/tugas-stats/">Stats</a> </li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
      