body {
  font-family: 'Montserrat';
  background-image: linear-gradient(to right, #accbee, #e7f0fd);
}

footer p{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  text-align: center;
  margin-bottom: 0;
}

.login-box{
  margin-top: 25%;
  border: white solid 0px;
  padding: 20px;
  text-align: center;
  border-radius: 5px;

}

.status-form-textarea{
  width: 80%;
}

.status-flex{
  width: 90%;
  margin: 10px;
  padding: 10px;
  border: grey solid 2px;
  border-radius: 5px;

}

.delete-button{
  margin-left: 97%;
  color: red;
}

#username, #password{
  border : grey  solid 2px;
  color: #2f4f4f;
  background-color: white;
  border-radius: 2.5px;

}

#post-button{
  width: 150px;
  margin-left: -2.5px;
}




.tabs{
  font-size: 20px;
}

.tombol{
  margin-left: 60px;
}

.btn{
  width: 10vw;
  display:block;
  margin:10px;
  border: #5DBCD2 solid 2px;
  text-align: center;
  font-size: 18px;
  border-radius: 30px;
  background-color: #5DBCD2;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn:hover{
  border: #5DBCD2 solid 2px;
  text-align: center;
  border-radius: 30px;
  background-color: white;
  color: #5DBCD2;
}

.status{
  margin-left: 60px;
  text-align: center;
}

.alert{
  background-color: #5DBCD2;
  color: white;
}

tr, td{
  text-align: left;
  padding: 10px;
  font-size: 20px;
}
