body {
  font-family: 'Montserrat';
  background-image: linear-gradient(to right, #accbee, #e7f0fd);
}

footer p{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  text-align: center;
  margin-bottom: 0;
}

.tabs{
  font-size: 20px;
}

.tombol{
  margin-left: 60px;
}

#editbutton{
  width: 10vw; 
  display:block; 
  margin:0 auto;
  border: #5DBCD2 solid 2px;
  text-align: center;
  border-radius: 30px;
  background-color: #5DBCD2;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#editbutton:hover{
  border: #5DBCD2 solid 2px;
  text-align: center;
  border-radius: 30px;
  background-color: white;
  color: #5DBCD2;
}

.status{
  margin-left: 60px;
  text-align: center;
}
