{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="LinkIn">
    <meta name="author" content="{{author}}">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- JQuery dataTables CSS -->
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
    <!-- Own CSS -->
    <link href="{% static 'css/LinkIn.css' %}" rel="stylesheet">
    <link rel="icon" href="http://vignette3.wikia.nocookie.net/the-most-popular-girls-in-school/images/1/1a/Linkedin.png/revision/latest?cb=20150730204727">
    <title>
      {% block title %} LinkIn {% endblock %}
    </title>
</head>
<body>
    <header>
        {% include "tugas2/partials/header.html" %}
        <br> <br> <br> <br>
    </header>
    <content>
            <div class="container">
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible" role="alert" id="django-messages">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 15px;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                    {% endfor %}
      {% block content %}
        <!-- Your Content Here -->
        {% endblock %}
    </content>
    <footer>
        <br><br><br>
        {% include "tugas2/partials/footer.html" %}
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- JQuery dataTables Script -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
</body>
</html>
