body {
  font-family: 'Montserrat';
  background-image: linear-gradient(to right, #accbee, #e7f0fd);
}

footer p{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  text-align: center;
  margin-bottom: 0;
}

.login-box{
  margin-top: 25%;
  border: white solid 0px;
  padding: 20px;
  text-align: center;
  border-radius: 5px;

}

.status-form-textarea{
  width: 80%;
}

.status-flex{
  width: 90%;
  margin: 10px;
  padding: 10px;
  border: grey solid 2px;
  border-radius: 5px;

}

.delete-button{
  margin-left: 97%;
  color: red;
}

#username, #password{
  border : grey  solid 2px;
  color: #2f4f4f;
  background-color: white;
  border-radius: 2.5px;

}

#post-button{
  width: 150px;
  margin-left: -2.5px;
}

.expert{
  border: 2px solid grey;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  margin-right: 10px;
}


.tabs{
  font-size: 20px;
}

.tombol{
  margin-left: 60px;
}

.btn{
  width: 10vw;
  display:block;
  margin:10px;
  border: #5DBCD2 solid 2px;
  text-align: center;
  font-size: 18px;
  border-radius: 30px;
  background-color: #5DBCD2;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn:hover{
  border: #5DBCD2 solid 2px;
  text-align: center;
  border-radius: 30px;
  background-color: white;
  color: #5DBCD2;
}

.status{
  margin-left: 60px;
  text-align: center;
}

.alert{
  background-color: #5DBCD2;
  color: white;
}

tr, td{
  text-align: left;
  padding: 10px;
  font-size: 20px;
}

input[type=text], input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 26px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  font-size:16px;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 26px;
    border: none;
    cursor: pointer;
    width: 90%;
  font-size:20px;
}
button:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.avatar {
    width: 200px;
  height:200px;
    border-radius: 50%;
}

/* The Modal (background) */
.modal {
  display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 40%; 
  padding-bottom: 30px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    animation: zoom 0.6s
}
@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}