<div class="panel panel-info">
    <div class="panel-body">
            <div class="search">
                <h2>Search Friend</h2>
            	<form style="width: 100%" method="POST" action="{% url 'mahasiswa:search_friend' %}">
                {% csrf_token %}
                {{ form2 }}
                <br>
                <table class="table">
                  <td><input type="radio" name="Filter" value="Nama"> Nama<br></td>
                  <td><input type="radio" name="Filter" value="NPM"> NPM<br></td>
                  <td><input type="radio" name="Filter" value="Angkatan"> Angkatan <br></td>
                  <td><input type="radio" name="Filter" value="Keahlian"> Keahlian<br></td>
                  <td><input type="radio" name="Filter" value="Level"> Level<br></td>
                  </table>
                    <input class="btn btn-lg " style="float: right;" type="submit" value="Search" />
                </form>
            </div>

            <div class="tabel">
                {% include 'tugas2/tables/mahasiswa/tabel_teman.html' %}
            	<form  method="POST" action="{% url 'mahasiswa:add_bot_friends' %}">
            	{% csrf_token %}
    				<input class="btn btn-lg btn-block btn-info" type="submit" value="Add Bot Friends" />
				</form>
            	
            </div>
    </div>
</div>
<script>
// If user clicks anywhere outside of the modal, Modal will close


</script>