<div class="panel panel-info">
    <div class="panel-body">
            <div class="biodata">
                    <table align="left" style="text-align: left">
                        <tr><td class="subject" >Name</td><td class="value" >: {{profile.name}}</td></tr>
                        <tr><td class="subject" >NPM</td><td class="value" >: {{ profile.npm }}</td></tr>
                        <tr><td class="subject" >Expertise</td><td class="value">: {% for ii in splitexp %}<span id="expert" class="expert">{{ii}}</span>{% endfor %}</td></tr>
                        <tr><td class="subject" >Email</td><td class="value" >: {{profile.email}}</td></tr>
                        <tr><td class="subject" >LinkedIn Profile</td><td class="value" >: {{profile.linkedIn}}</td></tr>
                    </table>
            </div>
    </div>
</div>
